@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.headDiv {
    margin-top: 10%;
}

.mainDiv {
    width: 100%;
    height: 100%;
    border: 1px solid royalblue;
    border-radius: 25px;
    padding: 40px;
}

.main__head__div {
    width: 100%;
    margin: auto;
}

.tahminSayi {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    height: 100%;
}

.list-group-ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.list-group-item-li {
    font-size: 1rem;
    margin-right: 1.5rem;
}

.list-group-item-li::before {
    content: "-";
}

.form__input {
    text-align: center;
}

.form__input::placeholder {
    color: rgb(23, 173, 219);
}

.tahmin__button {
    text-transform: uppercase;
}

.descriptionInfoText {
    font-weight: bold;
    font-size: 1.3rem;
}

.tahminTextP {
    font-weight: bold;
    font-size: 1.3rem;
}

.howToGameButton {
    border: 1px solid grey;
    color: black;
}

#howtoplay {
    position: absolute;
    z-index: 5000;
    /* left: 37%; */
    left: -9999px;
    top: 40px;
    transition: all .3s ease-in-out;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    background-color: white;
    border: 1px solid grey;
}

.info__icon {
    font-size: 5.5rem;
    color: #3fc3ee;
    font-weight: 100;
}

.infoTitleText {
    font-size: 2.5rem;
}

.how__list-group {
    padding-left: 15px;
    list-style-type: circle;
    display: block;
    text-align: left;
}

.how__list-group-item {
    padding: 10px;
    font-size: 0.88rem;
}

.main__how__div {
    position: relative;
}

.how__exit {
    color: #b2a6a6;
    position: absolute;
    top: 30px;
    font-size: 30px;
    right: 30px;
}

.tahmin__button2 {
    display: none;
}