@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #102840;
}

#svg-turkiye-haritasi path {
    cursor: pointer;
    fill: #98b1ca;
}

#svg-turkiye-haritasi path:hover {
    fill: #1094F6;
}

.title {
    font-size: 5rem;
    color: white;
}

.weather-info-box {
    background-color: #fff;
    width: 350px;
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.175)!important;
    border-radius: 7px;
    padding: 35px 15px 15px 35px;
    color: #53627C;
    font-size: 1.5rem;
}

.country-info {
    background: orange;
    color: white;
    padding: 0.2em 0.6em;
    border-radius: 30px;
}

.city-temp {
    color: #000000;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
}

.city-temp sup {
    font-size: 0.6em;
}

.des:first-letter {
    text-transform: uppercase;
}